___

<a href='http://www.pieriandata.com'> <img src='../Pierian_Data_Logo.png' /></a>
___
# Python Crash Course

Please note, this is not meant to be a comprehensive overview of Python or programming in general, if you have no programming experience, you should probably take my other course: [Complete Python Bootcamp](https://www.udemy.com/complete-python-bootcamp/?couponCode=PY20) instead.

**This notebook is just a code reference for the videos, no written explanations here**

This notebook will just go through the basic topics in order:

* Data types
    * Numbers
    * Strings
    * Printing
    * Lists
    * Dictionaries
    * Booleans
    * Tuples 
    * Sets
* Comparison Operators
* if, elif, else Statements
* for Loops
* while Loops
* range()
* list comprehension
* functions
* lambda expressions
* map and filter
* methods
____

## Data types

### Numbers

In [1]:
1 + 1

2

In [2]:
1 * 3

3

In [3]:
1 / 2

0.5

In [7]:
#to get power
2 ** 4

16

In [8]:
#Shows remainders
4 % 2

0

In [9]:
5 % 2

1

In [11]:
#For order of operations use paranthesis.
(2 + 3) * (5 + 5)

50

### Variable Assignment

In [12]:
# Can not start with number or special characters
name_of_var = 2

In [13]:
x = 2
y = 3

In [14]:
z = x + y

In [15]:
z

5

### Strings

In [16]:
'single quotes'

'single quotes'

In [17]:
#use if string has apostrophes
"double quotes"

'double quotes'

In [18]:
" wrap lot's of other quotes"

" wrap lot's of other quotes"

### Printing

In [20]:
x = 'hello'

In [21]:
x

'hello'

In [22]:
#prints exact string without quotes
print(x)

hello

In [25]:
num = 12
name = 'Sam'

In [26]:
#Print intrapolation, for inserting objects into a string. {} shows where the .format will be put in.
#Variables can be named within format.
print('My number is: {one}, and my name is: {two}'.format(one=num,two=name))

My number is: 12, and my name is: Sam

In [27]:
print('My number is: {}, and my name is: {}'.format(num,name))

My number is: 12, and my name is: Sam

### Lists

In [26]:
#Also known as arrays. Items in list are separated with commas.
[1,2,3]

[1, 2, 3]

In [38]:
#Nested list.
x = ['hi',1,[1,2]]

In [39]:
#Stack index list to extract number 2. 
#Useful in matrixes
x[2][1]

2

In [40]:
my_list = ['a','b','c']

In [41]:
#Adds item to the end of the list.
my_list.append('d')

In [42]:
my_list

['a', 'b', 'c', 'd']

In [43]:
#Indexing is used to fetch objects from list. 
my_list[0]

'a'

In [44]:
#To get the last value in list, Pyhton supports negative indexing.
#It starts from 0 and goes back 1. Loops all the way around and picks the last.
my_list[-1]

'd'

In [45]:
my_list[1]

'b'

In [46]:
my_list[1:]

['b', 'c', 'd']

In [47]:
my_list[:1]

['a']

In [48]:
#Adds item to the index position specified.
my_list[0] = 'NEW'

In [49]:
my_list

['NEW', 'b', 'c', 'd']

In [50]:
#Nested list.
nest = [1,2,3,[4,5,['target']]]

In [51]:
nest[3]

[4, 5, ['target']]

In [52]:
nest[3][2]

['target']

In [102]:
nest[3][2][0]

'target'

### Dictionaries

In [55]:
#Hash tables. They use {} , and key value items.
d = {'key1':'item1','key2':'item2'}

In [56]:
d

{'key1': 'item1', 'key2': 'item2'}

In [57]:
#Access values based on key.
d['key1']

'item1'

In [58]:
#They don't retain any order. Output could be arranged differently.
print(d)

{'key1': 'item1', 'key2': 'item2'}

### Booleans

In [40]:
True

True

In [41]:
False

False

In [59]:
#Truthy and falsey assign true or false behaviour to objects, e.g 0 can be treated as false, 1 as true.

### Tuples

In [61]:
#Sequence of items using ()
#Diff btwn tuples and lists, tuples are immutable. You can't reassign new items in them.
#Use when you dont want user to change anything in use case.
t = (1,2,3)

In [62]:
t[0]

1

In [63]:
t[0] = 'NEW'

TypeError: 'tuple' object does not support item assignment

### Sets

In [64]:
#Unordered collection of unique elements.
{1,2,3}

{1, 2, 3}

In [65]:
{1,2,3,1,2,1,2,3,3,3,3,2,2,2,1,1,2}

{1, 2, 3}

## Comparison Operators

In [66]:
#Compares 2 variables/strings/numbers and returns boolean value
1 > 2

False

In [67]:
1 < 2

True

In [68]:
1 >= 1

True

In [69]:
1 <= 4

True

In [70]:
1 == 1

True

In [71]:
'hi' == 'bye'

False

In [73]:
#Case sensitive
'A' == 'a'

False

In [74]:
1 != 2

True

## Logic Operators

In [77]:
(1 == 2) and ('a' == 'a')

False

In [78]:
(1 == 1) and ('a' == 'a')

True

In [79]:

(1 > 2) and (2 < 3)

False

In [80]:
(1 > 2) or (2 < 3)

True

In [81]:
(1 == 2) or (2 == 3) or (4 == 4)

True

## if,elif, else Statements

In [82]:
#Python depends on white space and indentation for separating code blocks
if 1 < 2:
    print('Yep!')

Yep!

In [83]:
if 1 < 2:
    print('yep!')

yep!

In [84]:
#If else is used for 2 options, where the second option has no conditions.
if 1 < 2:
    print('first')
else:
    print('last')

first

In [85]:
if 1 > 2:
    print('first')
else:
    print('last')

last

In [86]:
#Has >= 2 conditions
if 1 == 2:
    print('first')
elif 3 == 3:
    print('middle')
else:
    print('Last')

middle

## for Loops

In [87]:
#Used for sequences and objects e.g lists, sequences and dictionaries.
seq = [1,2,3,4,5]

In [62]:
#Item can be changed to any temporary variable.
for item in seq:
    print(item)

1
2
3
4
5

In [89]:
for element in seq:
    print('Yep')

Yep
Yep
Yep
Yep
Yep

In [91]:
#Get's sum of item to itself
for jelly in seq:
    print(jelly+jelly)

2
4
6
8
10

## while Loops

In [92]:
#i = i+1 sets a place for loop to end
i = 1
while i < 5:
    print('i is: {}'.format(i))
    i = i+1

i is: 1
i is: 2
i is: 3
i is: 4

## range()

In [93]:
range(5)

range(0, 5)

In [94]:
for i in range(5):
    print(i)

0
1
2
3
4

In [95]:
#To get an quick list
list(range(5))

[0, 1, 2, 3, 4]

In [96]:
#Range means up to but not including the last integer. It kinda uses index, so 5 values will be listed.
list(range(0,5))

[0, 1, 2, 3, 4]

In [ ]:
#To know what a function does, select shit tab, to return docstring.

## list comprehension

In [98]:
#Useful feature in python used to build out a list.
x = [1,2,3,4,5]

In [99]:
#[] is empty list
#For every number in x, append the squared number of it and print out list.
out = []
for item in x:
    out.append(item**2)
print(out)

[1, 4, 9, 16, 25]

In [100]:
#Convert for loop appending into list comprehension. It's faster than for loop.
[item**2 for item in x]

[1, 4, 9, 16, 25]

## functions

In [101]:
#Def is keyword for function creation
def func():
    print('hello')

In [102]:
func()

hello

In [110]:
def func(name):
    """
    Print out user name!
    
    """
    print('hello ' + name)

In [111]:
func("Dee")

hello Dee

In [112]:
#To describe what function does, in docstring
def my_func(param1='default'):
    """
    Docstring goes here.
        
    """
    print(param1)

In [113]:
my_func

In [114]:
my_func()

default

In [115]:
my_func('new param')

new param

In [116]:
my_func(param1='new param')

new param

In [117]:
#print returns actual value, return saves actual object and saves it to a variable
def square(x):
    return x**2

In [124]:
result = square(2)

In [125]:
print(result)

4

In [126]:
result

4

## lambda expressions

In [127]:
def times2(var):
    return var*2

In [128]:
times2(2)

4

In [133]:
#Used to quickly type in anonymous function. Used if only calling function once.
lambda var: var*2

## map and filter

In [83]:
seq = [1,2,3,4,5]

In [84]:
map(times2,seq)

In [85]:
list(map(times2,seq))

[2, 4, 6, 8, 10]

In [86]:
list(map(lambda var: var*2,seq))

[2, 4, 6, 8, 10]

In [87]:
filter(lambda item: item%2 == 0,seq)

In [88]:
list(filter(lambda item: item%2 == 0,seq))

[2, 4]

## methods

In [134]:
#Used for strings!
st = 'hello my name is Sam'

In [135]:
st.lower()

'hello my name is sam'

In [136]:
st.upper()

'HELLO MY NAME IS SAM'

In [137]:
#Splits on white space by default.
st.split()

['hello', 'my', 'name', 'is', 'Sam']

In [139]:
tweet = 'Go Sports! #Sports'

In [141]:
#splits at string value specified. # is no longer in split coz that's where it's split from.
tweet.split('#')

['Go Sports! ', 'Sports']

In [142]:
#To get item that was in #
tweet.split('#')[1]

'Sports'

In [143]:
#Dictionary methods
d

{'key1': 'item1', 'key2': 'item2'}

In [144]:
d.keys()

dict_keys(['key1', 'key2'])

In [145]:
d.items()

dict_items([('key1', 'item1'), ('key2', 'item2')])

In [149]:
#Checking is something is in list
lst = [1,2,3]

In [148]:
#Removes last item on list
lst.pop()

3

In [151]:
#removes list item based on index
lst.pop(0)

1

In [152]:
lst

[2, 3]

In [153]:
#To find if something is in list.
'x' in [1,2,3]

False

In [154]:
'x' in ['x','y','z']

True

# Great Job!